
@font-face {
  font-family: "shrek_font";
  src: url("shrek_font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.body {
   margin: 0;
}


.hero {
    height: 100vh;
    background-image: url("the_swamp.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;       
}

/* That smooth fade scroll to "about" section */
.hero-fade {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:35vh;
    background: linear-gradient(to bottom, 
        #00000000,
        #190f0a
    );
}

.overlay-image {
    position: absolute;
    height: auto;
    width: 60vw;
    /* max-width: */
}

.about {
    padding: 100px 40px;
    background-color: #190f0a; 
    color: white;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h2 {
    font-family: shrek_font, serif;
}

.mirror-image {
   width: min(300px, 30vw);
    height: auto;
    display: block;
    margin: 40px auto;
}