.body {
   margin: 0;
}


.hero {
    height: 100vh;
    background-image: url("the_swamp.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-image {
    position: absolute;
    height: auto;
    max-width: 100%;
}

