.body {
   margin: 0;
}


.hero {
    height: 100vh;
    background-image: url("the_swamp.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    
    /* smooth scroll to dark brown */
    
    
}

.overlay-image {
    position: absolute;
    height: auto;
    max-width: 100%;
}

.about {
    padding: 100px 40px;
    background-color: #5c452d; 
    color: white;
    text-align: center;
}